.container {
    height: 900x;
    width:1880px;
    margin:auto;
    background-color: #F2EBEB;
}
.HorNavBar ul li h1{
    color:white;
    float:left;
    padding:0px 20px;
}
.HorNavBar ul{
    list-style-type: none;
    margin: 0;
    padding: 1px 14px;
    overflow: hidden;
    background-color: black;
    border-radius: 10px;

}

.HorNavBar ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 1px 80px;
    text-decoration: none;
    transition: 0.7s;
    float: right;
}

.HorNavBar ul li a:hover {
    background-color: gray;
    border-radius: 25px;

}
.empty{
    height: 25px;
    width: 1880px;
    float: right;
}
.sideContent{
    height: 700px;
    width: 250px;
    padding: 15px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    float: left;
    /*text-align: center;*/
    display: grid;
    place-items: center;
    border: 1px solid black;
    background-color: #DEDEDE;
}
.news{
    height: 728px;
    width: 500px;
    float:left;
    background-color: blue;
    border: 2px solid black;

}
/* Metal Albums */
.metalAlbums{
    height: 725px;
    width: 250px;
    float: right;
    padding-right: 20px;
}
.metalAlbums ul li{
    list-style-type: none;
    border: 1px solid black;
    float: left;
}
.metalAlbums ul li:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border: 3px solid white;
    transition: 0.1s;
}
/*Punk Rock*/
.prAlbums{
    height: 725px;
    width: 250px;
    float: right;
    padding-right: 7px;
}
.prAlbums ul li{
    list-style-type: none;
    border: 1px solid black;
    float: left;
}
.prAlbums ul li:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border: 3px solid white;
    transition: 0.1s;
}
/*Grunge*/
.grungeAlbums{
    height: 725px;
    width: 250px;
    float: right;
    padding-right: 7px;
}
.grungeAlbums ul li{
    list-style-type: none;
    border: 1px solid black;
    float: left;
}
.grungeAlbums ul li:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border: 3px solid white;
    transition: 0.1s;
}
/*Hard Rock*/
.hrAlbums{
    height: 725px;
    width: 250px;
    float: right;
    padding-right: 7px;
}
.hrAlbums ul li{
    list-style-type: none;
    border: 1px solid black;
    float: left;
}
.hrAlbums ul li:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border: 3px solid white;
    transition: 0.1s;
}
.footer{
    height: 50px;
    width: 1880px;
    background-color: #DEDEDE;
    float: left;
    border: 1px solid black;
}