* {
    box-sizing: border-box;
    font-family: arial, serif;
}
/*main page*/
.container {
    /*height: 900px;
    width:1880px;
    margin:auto;*/
    display: grid;
    grid-template-areas:
        /*"home empty empty empty rockHeader grungeHeader punkHeader metalHeader"*/
        "home navbar navbar navbar navbar navbar navbar navbar"
        "info info news news rock grunge punk metal"
        "info info news news rock grunge punk metal"
        "info info news news rock grunge punk metal"
        "footer footer footer footer footer footer footer footer";
    gap: 10px;
    background-color: #F2EBEB;
}
.metal{
    display: grid;
    grid-template-areas:
        /*"home empty empty empty rockHeader grungeHeader punkHeader metalHeader"*/
            "home navbar navbar navbar navbar navbar navbar navbar"
        "info info MoM MoM ajfa ajfa rip rip"
        "info info MoM MoM ajfa ajfa rip rip"
        "info info MoM MoM ajfa ajfa rip rip"
        "footer footer footer footer footer footer footer footer";
    gap: 10px;
    background-color: #F2EBEB;

}
.punk{
    display: grid;
    grid-template-areas:
        /*"home empty empty empty rockHeader grungeHeader punkHeader metalHeader"*/
            "home navbar navbar navbar navbar navbar navbar navbar"
        "info info cr cr ramones ramones stf stf"
        "info info cr cr ramones ramones stf stf"
        "info info cr cr ramones ramones stf stf"
        "footer footer footer footer footer footer footer footer";
    gap: 10px;
    background-color: #F2EBEB;

}
.rock{
    display: grid;
    grid-template-areas:
        /*"home empty empty empty rockHeader grungeHeader punkHeader metalHeader"*/
            "home navbar navbar navbar navbar navbar navbar navbar"
        "info info afd afd tre tre hh hh"
        "info info afd afd tre tre hh hh"
        "info info afd afd tre tre hh hh"
        "footer footer footer footer footer footer footer footer";
    gap: 10px;
    background-color: #F2EBEB;

}
.grunge{
    display: grid;
    grid-template-areas:
        /*"home empty empty empty rockHeader grungeHeader punkHeader metalHeader"*/
            "home navbar navbar navbar navbar navbar navbar navbar"
        "info info dirt dirt bmf bmf bleach bleach"
        "info info dirt dirt bmf bmf bleach bleach"
        "info info dirt dirt bmf bmf bleach bleach"
        "footer footer footer footer footer footer footer footer";
    gap: 10px;
    background-color: #F2EBEB;

}
.home{
    grid-area: home;
    padding-left: 20px;
}

.HorNavBar{
    grid-area: navbar;
}
/* Horizontal Navbar styles:*/
.HorNavBar ul{
    list-style-type: none;
    margin: 0;
    padding: 10px 14px;
    overflow: hidden;
    background-color: black;
    border-radius: 10px;
    color: white;
    float:right;

}

.HorNavBar ul li{
    float:left;
}
.HorNavBar ul li a{
    display: block;
    color: white;
    padding: 1px 80px;
    text-decoration: none;
    transition: 0.7s;
    float: right;

}

.HorNavBar ul li a:hover {
    background-color: gray;
    border-radius: 25px;
}
/* Navbar grid placement*/
.home {
    grid-area: home;
}
.home a{
    color: black;
    text-decoration: none;
}

/*Navbar end*/
/* Content info */
.sideContent{
    grid-area: info;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    display: grid;
    place-items: center;
    border: 1px solid black;
    background-color: #DEDEDE;
}
/*News content*/
.news{
    grid-area: news;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

}
.ace{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    text-align: center;
}
.ace img{
    width: 400px;
}
.rush{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    text-align: center;
}
.rush img{
    width: 400px;
}
/* News end */
/* Metal Albums */
.metalAlbums{
    grid-area: metal;
}
.metalAlbums ul li{
    list-style-type: none;
    border: 3px solid black;
}
.metalAlbums ul li:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border: 3px solid white;
    transition: 0.1s;
}
/*Punk Rock*/
.prAlbums{
    grid-area: punk;
}
.prAlbums ul li{
    list-style-type: none;
    border: 3px solid black;
}
.prAlbums ul li:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border: 3px solid white;
    transition: 0.1s;
}
/*Grunge*/
.grungeAlbums{
    grid-area: grunge;
}
.grungeAlbums ul li{
    list-style-type: none;
    border: 3px solid black;
}
.grungeAlbums ul li:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border: 3px solid white;
    transition: 0.1s;
}
/*Hard Rock*/
.hrAlbums{
    grid-area: rock;
}
.hrAlbums ul li{
    list-style-type: none;
    border: 3px solid black;
}
.hrAlbums ul li:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border: 3px solid white;
    transition: 0.1s;
}
/* Footer */
.footer{
    background-color: #DEDEDE;
    border: 1px solid black;
    grid-area: footer;
    text-align: center;
}
/* Contact Us page*/
.contact{height:775px;}
/*Metal page*/
.rip{
    grid-area: rip;
    border: 1px solid black;
    border-radius: 15px;
    background-color: black;
    place-items: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    color: white;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.ajfa{
    grid-area: ajfa;
    border: 1px solid black;
    border-radius: 15px;
    background-color: black;
    place-items: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    color: white;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.MoM{
    grid-area: MoM;
    border: 1px solid black;
    border-radius: 15px;
    background-color: black;
    place-items: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    color: white;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
/*Punk Rock page*/
.stf{
    grid-area: stf;
    border: 1px solid black;
    border-radius: 15px;
    background-color: black;
    place-items: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    color: white;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.ramones{
    grid-area: ramones;
    border: 1px solid black;
    border-radius: 15px;
    background-color: black;
    place-items: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    color: white;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.cr{
    grid-area: cr;
    border: 1px solid black;
    border-radius: 15px;
    background-color: black;
    place-items: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    color: white;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
/*Grunge page*/
.bleach{
    grid-area: bleach;
    border: 1px solid black;
    border-radius: 15px;
    background-color: black;
    place-items: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    color: white;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.bmf{
    grid-area: bmf;
    border: 1px solid black;
    border-radius: 15px;
    background-color: black;
    place-items: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    color: white;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.dirt{
    grid-area: dirt;
    border: 1px solid black;
    border-radius: 15px;
    background-color: black;
    place-items: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    color: white;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
/*Hard Rock page*/
.hh{
    grid-area: hh;
    border: 1px solid black;
    border-radius: 15px;
    background-color: black;
    place-items: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    color: white;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.tre{
    grid-area: tre;
    border: 1px solid black;
    border-radius: 15px;
    background-color: black;
    place-items: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    color: white;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.afd{
    grid-area: afd;
    border: 1px solid black;
    border-radius: 15px;
    background-color: black;
    place-items: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    color: white;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}